@font-face {
  font-family: 'OpiumNew';
  src: url('../fonts/OpiumNew-Italic.woff2') format('woff2'),
  url('../fonts/OpiumNew-Italic.woff') format('woff'),
  url('../fonts/OpiumNew-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'OpiumNew';
  src: url('../fonts/OpiumNew-Bold.woff2') format('woff2'),
  url('../fonts/OpiumNew-Bold.woff') format('woff'),
  url('../fonts/OpiumNew-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'OpiumNew';
  src: url('../fonts/OpiumNew.woff2') format('woff2'),
  url('../fonts/OpiumNew.woff') format('woff'),
  url('../fonts/OpiumNew.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpiumNew';
  src: url('../fonts/OpiumNew-Bold-Italic.woff2') format('woff2'),
  url('../fonts/OpiumNew-Bold-Italic.woff') format('woff'),
  url('../fonts/OpiumNew-Bold-Italic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}