.advantage {
  padding-top: 20px;
  padding-bottom: 40px;

  background-color: #f3f0e7;

  &__container {
    text-align: center;
  }

  &__headline {
    margin-bottom: 40px;

    font-family: $font-primary;
    font-weight: 300;
    font-size: 28px;
    text-align: center;
    color: $color-primary;

  }

  &__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }


  &__item {
    width: 312px;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;

    text-align: center;
  }

  &__img {
    margin-bottom: 20px;
    border-radius: 50%;
  }

  &__item-headline {
    margin-top: 0;
    margin-bottom: 20px;

    font-family: $font-primary;
    font-weight: 400;
    font-size: 22px;
    line-height: 1.2;
    color: $color-primary;
  }

  &__item-caption {
    font-family: $font-primary;
    font-weight: 400;
    line-height: 1.2;
    color: $color-primary;
  }
}

@media #{$tablet} {
  .advantage {
    padding-top: 62px;
    padding-bottom: 77px;

    &__headline {
      margin-top: 0;
      margin-bottom: 56px;

      font-size: 50px;
    }

    &__item-headline {
      font-size: 24px;
    }
  }
}

@media #{$large-desktop} {
  .advantage {
    &__container {
      max-width: $container-width;

      margin-left: auto;
      margin-right: auto;
    }

    &__row {
      justify-content: space-between;
    }

    &__item {
      margin-left: 0;
      margin-right: 0;
    }
  }
}