.footer {
  padding-top: 40px;
  padding-bottom: 20px;

  background-color: $color-secondary;

  &__row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  &__item {
    width: 156px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
    padding-top: 30px;

    border-top: 1px solid $color-primary;
  }

  &__menu-list {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;

    list-style: none;

  }

  &__menu-list-item {
    margin-bottom: 16px;



  }

  &__menu-link {
    font-family: $font-primary;
    color: $color-primary;
    text-decoration: none;
  }


  &__social-link {
    display: inline-block;

    margin-right: 18px;
  }

  &__rights {
    font-family: $font-primary;
    font-weight: 300;
    font-size: 14px;
    color: $color-primary;
    text-align: center;
  }

}

@media #{$large-desktop} {
  .footer {
    &__container {
      max-width: $container-width;

      margin-left: auto;
      margin-right: auto;
    }

    &__row {
      justify-content: flex-start;
    }

    &__item {
      margin-left: 0;
      margin-right: 75px;

      &_social {
        margin-left: auto;
        margin-right: 0;
      }
    }
  }
}