.navbar {

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    padding-left: $container-padding-mobile;
    padding-right: $container-padding-mobile;
  }

  &__menu-toggle {
    border: none;
    padding: 0;
    background-color: transparent;
  }

  &__menu-icon {
    display: block;
  }

  &__logo-img {
    display: block;
  }
  &__phone-link {
    display: none;
  }

  &__login-btn {
    border: none;
    padding: 0;
    background-color: transparent;
  }

  &__login-icon {
    display: block;
  }
}

@media #{$tablet} {
  .navbar {
    &__container {
      justify-content: flex-start;
    }

    &__menu-toggle {
      margin-right: 66px;
    }

    &__phone-link {
      display: block;
      margin-left: auto;
      margin-right: 56px;
      padding: 12px 35px;
      border-radius: 10px;
      background-color: $color-secondary;

      font-family: $font-primary;
      letter-spacing: 0.06em;
      color: $color-primary;
      text-decoration: none;

    }



  }
}

@media #{$desktop} {
  .navbar {
    &__menu-toggle {
      cursor: pointer;
    }

    &__login-btn {
      cursor: pointer;
    }
  }
}

@media #{$large-desktop} {
  .navbar {
    &__container {
      max-width: 1230px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}