.steps {
  padding-top: 30px;
  padding-bottom: 30px;

  &__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  &__item {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;
  }

  &__img-wrap {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 140px;
    height: 140px;
    border: 5px solid $color-secondary;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 24px;
  }

  &__caption {

    width: 140px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 0;

    font-family: $font-primary;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    line-height: 1.2;
    color: $color-primary;

  }

}

@media #{$tablet} {
  .steps {
    padding-top: 55px;
    padding-bottom: 60px;

    &__container {
      justify-content: space-around;
    }
  }
}

@media #{$large-desktop} {
  .steps {
    &__container {
      max-width: 940px;
      margin-left: auto;
      margin-right: auto;
      justify-content: space-between;
    }

    &__item {
      margin-left: 0;
      margin-right: 0;

    }

    &__img-wrap {
      position: relative;

      &::after {
        content: "";
        display: block;
        position: absolute;
        top: 50%;
        left: calc(100% + 5px );
        transform: translateY(-50%);

        width: 136px;
        height: 5px;

        background-image: url("/img/line-yellow.svg");
        background-repeat: no-repeat;
      }


      &_last {
        &::after {
          content: none;
        }
      }
    }
  }
}