.terms {
  padding-top: 20px;
  padding-bottom: 40px;

  &__row {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  &__item {
    position: relative;

    width: 312px;
    max-width: 100%;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 40px;

    border-radius: 0 0 10px 10px;
    background-color: #f3f0e7;
  }

  &__item-headline {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 25px;
    border-radius: 10px 10px 0 0;
    background-color: $color-secondary;

    font-family: $font-primary;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.08em;
    line-height: 1.2;
    color: $color-primary;
    text-align: center;
  }

  &__letter-strong {
    font-weight: 600;
  }

  &__item-content {
    padding-top: 30px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;

    border-top: 5px solid #fff;

  }

  &__text {
    margin-top: 0;
    margin-bottom: 16px;

    font-family: $font-secondary;
    font-size: 18px;
    color: $color-primary;
    line-height: 1.2;

    &_red {
      color: $color-additional;
    }
  }

  &__text-word-em {
    font-weight: 300;
    font-family: $font-primary;
    text-transform: uppercase;
    font-size: 14px;
  }

  &__text-letter-strong {
    font-weight: 400;
    font-size: 18px;
  }


  &__list {
    padding-left: 28px;
  }

  &__list-item {
    margin-top: 0;
    margin-bottom: 16px;

    font-family: $font-secondary;
    font-size: 18px;
    color: $color-primary;
    line-height: 1.2;
  }

  &__call-to-action-wrap {
    text-align: center;
  }
}

@media #{$tablet} {
  .terms {
    padding-top: 92px;
    padding-bottom: 120px;

    &__item {
      margin-bottom: 75px;
    }

    &__item-headline {
      font-size: 30px;
    }
  }
}

@media #{$large-desktop} {
  .terms {
    &__container{
      max-width: $container-width;

      margin-left: auto;
      margin-right: auto;
    }

    &__row {
      justify-content: space-between;
    }

    &__item {
      margin-left: 0;
      margin-right: 0;
    }
  }
}