.testimonials {
  padding-top: 20px;
  padding-bottom: 40px;

  background-image: url("/img/testimonials-bg.jpg");
  background-position: left;
  background-size: cover;

  &__container {
    padding-left: $container-padding-mobile;
    padding-right: $container-padding-mobile;

  }

  &__content {
    max-width: 538px;
    margin-left: auto;
    margin-right: auto;
  }

  &__headline {
    margin-bottom: 30px;

    font-family: $font-primary;
    font-weight: 300;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.06em;
    color: $color-primary;
  }

  &__letter-strong {
    font-weight: 400;
    font-size: 32px;
  }

  &__item {
    margin-bottom: 16px;
    overflow: hidden;
  }
  &__person {
    display: flex;
    align-items: center;

    margin-bottom: 20px;
  }

  &__person-img {
    flex-shrink: 0;
    margin-right: 15px;
    border-radius: 50%;
  }

  &__person-name {
    margin-top: 0;
    margin-bottom: 4px;

    font-family: $font-primary;
    font-weight: 600;
    line-height: 1.2;
    color: $color-primary;
  }

  &__person-position {
    margin-top: 0;
    margin-bottom: 0;

    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.2;
    color: $color-primary;
  }

  &__text {
    margin-top: 0;
    margin-bottom: 16px;

    font-family: $font-primary;
    font-weight: 300;
    line-height: 1.6;
    color: $color-primary;
  }

  &__btn-next-wrap {
    margin-bottom: 40px;
    text-align: right;
  }

  &__btn-next {
    padding: 0;
    border: none;

    background-color: transparent;

    font-family: $font-primary;
    font-weight: 600;
    color: $color-primary;
  }

  &__btn-next-icon {
    vertical-align: middle;
    margin-left: 6px;
    animation-name: left-right;
    animation-duration: 1.2s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }

  &__call-to-action-wrap{
    text-align: center;
  }
}

@media #{$tablet} {
  .testimonials {
    padding-top: 40px;
    padding-bottom: 54px;


    &__headline {
      margin-top: 0;
      margin-bottom: 54px;

      font-size: 42px;

    }

    &__letter-strong {
      font-size: 60px;
    }

    &__person-name {
      margin-right: 20px;
    }

    &__person-name {
      font-size: 30px;
    }
    &__person-position {
      font-size: 18px;
    }

    &__btn-next-wrap {
      margin-bottom: 95px;
    }
  }
}

@media #{$desktop} {
  .testimonials{
    &__btn-next {
      cursor: pointer;
    }
  }
}

@media #{$large-desktop} {
  .testimonials {
    background-position: center;

    &__container {
      max-width: $container-width;

      margin-left: auto;
      margin-right: auto;
      padding-left: 0;
      padding-right: 0;
    }

    &__content {
      margin-left: 0;
    }
  }
}

@keyframes left-right {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-4px);
  }
  100% {
    transform: translateX(0);
  }
}