doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        title Photobook
        link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=PT+Sans:400" rel="stylesheet")
        link(rel="stylesheet" href="css/main.css")


    body
        header.navbar
           .navbar__container
               button.navbar__menu-toggle
                   img.navbar__menu-icon(src="img/burger.svg" alt="menu toggle icon"  width="25" height="18" )
               a.navbar__logo-link(href="/")
                   img.navbar__logo-img(src="img/logo.png" width="162" height="19"  alt="Photobook logo")
               a.navbar__phone-link(href="tel:+12345678910") +1 234 5678910
               button.navbar__login-btn
                   img.navbar__login-icon(src="img/login.svg" alt="login icon" width="33" height="30" )
        main
            section.intro
                .intro__container
                    h1.intro__headline Create your own photostory
                    p.intro__subheadline Make your photobook online

                    button.call-to-action.call-to-action_trasparent make your photobook

            section.steps
                .steps__container
                    .steps__item
                        .steps__img-wrap
                            img.steps__img(src="img/step1.svg" alt="Download" width="57" height="48")
                        p.steps__caption Download photos
                    .steps__item
                        .steps__img-wrap
                            img.steps__img(src="img/step2.svg" alt="Design" width="54" height="52")
                        p.steps__caption Design your photobook

                    .steps__item
                        .steps__img-wrap
                            img.steps__img(src="img/step3.svg" alt="Pay" width="62" height="55")
                        p.steps__caption Pay for&nbsp;service

                    .steps__item
                        .steps__img-wrap.steps__img-wrap_last
                            img.steps__img(src="img/step4.svg" alt="Get your book" width="52" height="57")
                        p.steps__caption Get your photobook

            section.advantage
                .advantage__container
                    h2.advantage__headline Advantage
                    .advantage__row
                        .advantage__item
                            img.advantage__img(src="img/advantage-1.jpg" alt="social networks" width="267" height="267")
                            h3.advantage__item-headline Import photos from&nbsp;your&nbsp;social networks
                            p.advantage__item-caption.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt modi tempora
                        .advantage__item
                            img.advantage__img(src="img/advantage-2.jpg" alt="cat" width="267" height="267")
                            h3.advantage__item-headline Photo editing
                            p.advantage__item-caption.
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ora incidunt ut labore.
                        .advantage__item
                            img.advantage__img(src="img/advantage-3.jpg" alt="templates" width="267" height="267")
                            h3.advantage__item-headline Templates
                            p.advantage__item-caption.
                                Lorem ipsum dolor sit amet, consectetur adipisicing. Ut enim ad minim, nostrud exercitation ullamco laboris nisi ut aliquip ex commodo.

                    button.call-to-action.call-to-action_red make your photobook

            section.solutions
                .solutions__container
                    h2.solutions__headline Ready solutions
                    .solutions__row
                        .solutions__item
                            h3.solutions__item-headline #[span.solutions__letter-strong L]ight#[span(class="solutions__letter-strong") B]ook
                            ul.solutions__list
                                li.solutions__list-item 15×10 cm
                                li.solutions__list-item 12 pages
                                li.solutions__list-item binding on the clip

                            p.solutions__price $129
                            button.solutions__btn  Make your LightBook

                        .solutions__item.solutions__item_marked
                            h3.solutions__item-headline #[span.solutions__letter-strong C]lassic#[span(class="solutions__letter-strong") B]ook
                            ul.solutions__list
                                li.solutions__list-item 30×21 cm
                                li.solutions__list-item 36 pages
                                li.solutions__list-item binding on the spring
                                li.solutions__list-item fabric cover

                            p.solutions__price $239
                            button.solutions__btn Make your ClassicBook

                        .solutions__item
                            h3.solutions__item-headline #[span.solutions__letter-strong P]remium#[span(class="solutions__letter-strong") B]ook
                            ul.solutions__list
                                li.solutions__list-item 42×50 cm
                                li.solutions__list-item 50 pages
                                li.solutions__list-item hardcover
                                li.solutions__list-item leather cover
                                li.solutions__list-item free shipping

                            p.solutions__price $759
                            button.solutions__btn Make your PremiumBook


            section.testimonials
                .testimonials__container
                    .testimonials__content
                        h2.testimonials__headline #[span.testimonials__letter-strong T]estimonials
                        .testimonials__item
                            .testimonials__person
                                img.testimonials__person-img(src="img/testimonials-john-doe.jpg" alt="John doe" width="158" height="158")
                                .testimonials__person-desc
                                    h3.testimonials__person-name John Doe
                                    p.testimonials__person-position Wedding photographer
                            .testimonials__text-wrap
                                p.testimonials__text.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.

                                p.testimonials__text.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse
                                    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
                                    cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        .testimonials__btn-next-wrap
                            button.testimonials__btn-next Next testimonial #[img(src="img/next-arrow.png" width="26" height="3").testimonials__btn-next-icon]
                        .testimonials__call-to-action-wrap
                            button.call-to-action make your photobook


            section.terms
                .terms__container
                    .terms__row
                        .terms__item
                            h3.terms__item-headline #[span.terms__letter-strong T]erms
                            .terms__item-content
                                p.terms__text.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.

                                p.terms__text.
                                    Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla.

                        .terms__item
                            h3.terms__item-headline #[span.terms__letter-strong P]ayment
                            .terms__item-content
                                p.terms__text.
                                    Payment methods:
                                ul.terms__list
                                    li.terms__list-item VISA
                                    li.terms__list-item MasterCard
                                    li.terms__list-item PayPal
                                    li.terms__list-item American Express

                        .terms__item
                            h3.terms__item-headline #[span.terms__letter-strong S]hipping
                            .terms__item-content
                                p.terms__text.
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.

                                p.terms__text.terms__text_red.
                                    Free shipping for #[span.terms__text-word-em #[span.terms__text-letter-strong P]remium#[span.terms__text-letter-strong B]ook]

                    .terms__call-to-action-wrap
                        button.call-to-action.call-to-action_red make your photobook

        footer.footer
            .footer__container
                .footer__row
                    nav.footer__item
                        ul.footer__menu-list
                            li.footer__menu-list-item
                                a.footer__menu-link(href="#") About us
                            li.footer__menu-list-item
                                a.footer__menu-link(href="#") Careers
                            li.footer__menu-list-item
                                a.footer__menu-link(href="#") Help
                            li.footer__menu-list-item
                                a.footer__menu-link(href="#") Press

                    nav.footer__item
                        ul.footer__menu-list
                            li.footer__menu-list-item
                                a.footer__menu-link(href="#") Terms
                            li.footer__menu-list-item
                                a.footer__menu-link(href="#") Payment
                            li.footer__menu-list-item
                                a.footer__menu-link(href="#") Shipping
                            li.footer__menu-list-item
                                a.footer__menu-link(href="#") Contact
                    nav.footer__item
                        ul.footer__menu-list
                            li.footer__menu-list-item
                                a.footer__menu-link(href="#") LightBook
                            li.footer__menu-list-item
                                a.footer__menu-link(href="#") ClassicBook
                            li.footer__menu-list-item
                                a.footer__menu-link(href="#") PremiumBook

                    .footer__item.footer__item_social
                        a.footer__social-link(href="https://www.facebook.com/")
                            img.footer__social-img(src="img/fb.png" alt="facebook icon" width="24" height="24")
                        a.footer__social-link(href="https://vk.com/")
                            img.footer__social-img(src="img/vk.png" alt="vk icon" width="24" height="24")
                        a.footer__social-link(href="https://www.instagram.com/")
                            img.footer__social-img(src="img/instagram.png" alt="facebook icon" width="24" height="24")

                p.footer__rights.
                    © 2017 Photobook. All rights reserved





